---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Welcome to Recordz.">
  <main class="container">
    <h1>Hello, world!</h1>
    <hr />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Quis enim lobortis scelerisque fermentum dui faucibus in ornare
      quam. In aliquam sem fringilla ut. Integer feugiat scelerisque varius morbi enim. Et tortor
      consequat id porta nibh venenatis. Rutrum quisque non tellus orci. Nisl rhoncus mattis rhoncus
      urna neque viverra justo nec. Dolor purus non enim praesent elementum facilisis leo. Sed
      turpis tincidunt id aliquet. Et malesuada fames ac turpis egestas maecenas pharetra convallis.
    </p>

    <p>
      Blandit volutpat maecenas volutpat blandit aliquam etiam erat velit. Dictumst vestibulum
      rhoncus est pellentesque elit ullamcorper. Lacinia quis vel eros donec ac odio tempor.
      Imperdiet dui accumsan sit amet nulla facilisi morbi tempus iaculis. Ipsum suspendisse
      ultrices gravida dictum. Malesuada bibendum arcu vitae elementum curabitur vitae. At erat
      pellentesque adipiscing commodo elit at. Erat imperdiet sed euismod nisi porta lorem mollis
      aliquam ut. Sagittis eu volutpat odio facilisis mauris. Auctor urna nunc id cursus. Sit amet
      venenatis urna cursus. Leo urna molestie at elementum. Arcu dui vivamus arcu felis bibendum ut
      tristique. Tincidunt vitae semper quis lectus nulla. Massa tincidunt nunc pulvinar sapien et
      ligula. Integer feugiat scelerisque varius morbi enim. Ullamcorper velit sed ullamcorper morbi
      tincidunt ornare.
    </p>
    <a href="#" role="button">Link</a>
    <a href="#" role="button">Link</a>
    <div class="grid">
      <div><article>I'm a card!</article></div>
      <div><article>I'm a card!</article></div>
    </div>
    <details>
      <summary>Accordion 1</summary>
      <p>Value 1</p>
    </details>

    <details open>
      <summary>Accordion 2</summary>
      <ul>
        <li>Value 2</li>
        <li>Value 3</li>
      </ul>
    </details>
  </main>
</Layout>
