<nav class="container-fluid">
  <ul>
    <li><strong>Brand</strong></li>
  </ul>
  <ul>
    <li><a href="#">Link</a></li>
    <li>
      <details role="list" dir="rtl">
        <summary aria-haspopup="listbox" role="link">Dropdown</summary>
        <ul role="listbox">
          <li><a>Action</a></li>
          <li><a>Another action</a></li>
          <li><a>Something else here</a></li>
        </ul>
      </details>
    </li>
  </ul>
</nav>
